@import url(./__link/resources__link.css);
@import url(./__logo-zone/resources__logo-zone.css);

.resources {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 217px;
}
