@import url(./__iframes/video__iframes.css);
@import url(./__iframe/video__iframe.css);

.video {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
