@import url(./__triangle/kaufman__triangle.css);

.kaufman {
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
  overflow: hidden;
  padding: 90px 0;
}
