.cards__item {
  margin: 0;
  padding: 0;
  margin-right: 100px;
  flex-basis: 240px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.cards__item:nth-child(3) {
  margin-right: 0;
}
