.khan__buy-link {
  text-decoration: none;
  color: #2f80ed;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}
.khan__buy-link:hover {
  color: #2f80ed;
  opacity: 0.5;
  transition: opacity 0.5s ease;
}
